# vim
*.swp
*~

# Python
__pycache__

# Minecraft
*Bad Apple*.mp4
options.txt

# c
*.o
*.a
*.i

# gcov
*.gcno
*.gcda
**/assembler/report.*css
**/assembler/report.*html
**/assembler/report.*js

# binaries
assembli
unit

# compiled assembli programs
**/programs/*.bin
**/programs/*.schem
