html, body {
    --font: consolas, courier, monospace;

    width: 100%;
    height: 100%;
    margin: 0;

    font-size: 12px;
    font-family: var(--font);
}

body {
    background: linear-gradient(35deg, #30303d, #815031);
    color: #f3eae1;

    display: flex;
    flex-direction: column;
}

h1 {
    flex-grow: 1;
    margin: 0;
    padding: 1em 1em 0 1em;

    font-size: 2.5rem;
    text-align: center;
}

#main {
    overflow: auto;
    width: fit-content;

    padding: 3rem;
    box-sizing: border-box;

    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

.block {
    box-sizing: border-box;
    background-color: #fff2ed33;

    border: 2px solid #ebe9e62a;
    box-shadow: 0 0 1em #00000010;
}

#main>.block {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 1.2em;
}

#main>.block .block {
    padding: 1rem;

    border-radius: .8em;
}

.block p {
    margin: 0;
}

#main>.block>p {
    font-size: 1.5rem;
    font-weight: bold;
}

#main>.block .block>p {
    font-size: 1.2rem;
}

.list, .lone-data {
    margin: .8em 0;
    padding: .5em;

    border-radius: .8em;

    background-color: #dbbeb2c0;
    color: black;

    font-size: 1.2rem;
}

.list {
    max-height: 10em;
    overflow: hidden auto;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.data, .list>div, .lone-data {
    display: flex;
    gap: 1ch;
}

.data {
    position: relative;
    padding: .2em;

    border-radius: .5em;

    background-color: transparent;
    transition: .3s background-color;
}

.data.readDist0 {
    background-color: #54af54ff;
}

.data.readDist1 {
    background-color: #54af5480;
}

.data.readDist2 {
    background-color: #54af5440;
}

.data.writeDist0 {
    background-color: #fb8574ff;
}

.data.writeDist1 {
    background-color: #fb857480;
}

.data.writeDist2 {
    background-color: #fb857440;
}

.block input {
    width: 2.5ch;
    height: 1.5em;
    padding: 0;

    border: none;

    color: black;
    background-color: #00000010;

    font-size: 1em;
    font-family: var(--font);
    text-align: center;
}

#rom-memory.block input, #stack.block .list input, #timer input {
    width: 4.5ch;
}

#buffers.block .boolean input {
    width: 5.5ch;
}

.on-hover {
    display: none;
    position: absolute;
    z-index: 1;

    padding: .5em;
    width: max-content;

    border-radius: 0 .4em .4em .4em;
    box-shadow: 0 0 20px #00000040;
    background-color: #c7c4f7;
}

.data:active .on-hover {
    display: block;
}

.block input[type="number"]::-webkit-inner-spin-button,
.block input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.block input[type="number"] {
    -moz-appearance: textfield;
}

.block div:has(a) {
    display: flex;
    gap: 2em;
}

a.button {
    transition: .4s background-color;
    padding: .2em .5em;

    border-radius: .6em;
    background-color: #ffffff70;
    color: #000;

    font-size: 1.2em;
}

a.button:hover {
    cursor: pointer;
    background-color: #ffffffa0;
}
