html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-size: 16px;
    font-family: consolas, courier, monospace;
}

body {
    background-color: #23232b;
    color: #f3eae1;

    display: flex;
    flex-direction: column;
}

h1 {
    flex-grow: 1;
    margin: 0;
    padding: 1em 1em 0 1em;

    font-size: 2.5rem;
    text-align: center;
}

#main {
    overflow: auto hidden;
    min-width: 100%;
    width: fit-content;

    padding: 3rem;
    box-sizing: border-box;

    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

.block {
    box-sizing: border-box;
    background-color: #fff2ed33;
}

#main>.block {
    width: 500px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main>.block .block {
    padding: 1rem;

    border: 2px solid #ebe9e61a;
}

.block p {
    margin: 0;
}

#main>.block>p {
    font-size: 1.5rem;
    font-weight: bold;
}

#main>.block .block>p {
    font-size: 1.2rem;
}

.list {
    max-height: 10em;
    overflow: hidden auto;
}

.data {
    display: flex;
}
